{erl_opts, [debug_info]}.

{deps, [ranch, jiffy]}.

{project_plugins, [erlfmt, rebar3_lint]}.

{relx, [
    {release, {protohackers, "0.1.0"}, [
        sasl,
        smoke_test,
        prime_time,
        means_to_an_end,
        budget_chat,
        unusual_database_program,
        mob_in_the_middle,
        speed_daemon,
        line_reversal,
        insecure_sockets_layer,
        job_centre,
        voracious_code_storage
    ]},

    {include_erts, false},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            %% prod is the default mode when prod
            %% profile is used, so does not have
            %% to be explicitly included like this
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
